* { 
    font-family: 'Coiny', cursive;     
}

body {
    background-size: cover;
    background-image: url("newLayoutV3.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

header {
    color: #626fa6;
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 40px;
}

section {
    color:	#fbf7fc;
    
}

button {
    color:	#fbf7fc;
    background-color: #626fa6;
    border: 1px solid #fbf7fc;
    border-radius: 7px;
}

div {
    height: 370px;
    width: 380px;
    margin: auto;  
    background: rgba(155, 180, 204, 0.5);
    border-radius: 14px;
     
}

.toAlign {
    margin-left: 20px;
}

#decodeButton {
    margin-left: 160px;
}

#showTextCD, #insertTextForCD, #insertOffset {
    color: #626fa6;
}


