* {
    margin: 0px;
    padding: 0px;
    font-family: 'Coiny', cursive; 
    background-image: linear-gradient(rgb(134, 180, 197), rgb(250, 182, 243));
    background-size: cover;
    background-image: url("newLayout.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

header {
    color: #626fa6;
    text-align: center;
}

section {
    color:	#fbf7fc;
    
}

button {
    color:	#fbf7fc;
}

